<label class="item item-input">
    <input type="text" placeholder="请输入" ng-model="data.day"/>
    <span class="input-label" >天</span>
</label>
<label class="item item-input">
    <input type="text" placeholder="请输入" ng-model="data.hour" ng-focus="focus(this)"/>
    <span class="input-label">时</span>
</label>
<label class="item item-input">
    <input type="text" placeholder="请输入"ng-model="data.min"/>
    <span class="input-label">分</span>
</label>
<label class="item item-input">
    <input type="text" placeholder="请输入"ng-model="data.second"/>
    <span class="input-label">秒</span>
</label>