<ion-view>
    <div class="bar bar-header bar-balanced">
        <button class="button icon-left ion-chevron-left button-clear button-white" ng-click="GoBack()"></button>
        <h1 class="title">FootBar with Buttons</h1>
    </div>
    <ion-content class='has-header has-footer'>
        <h1 style="margin-top:200px" align="center">
            {{data}}
        </h1>
    </ion-content>
    <div class="bar bar-footer">
        <button class="button foot-button icon-left ion-checkmark-round  button-balanced" ng-click="submit()">提交</button>
        <button class="button foot-button icon-left ion-close-round button-assertive" ng-click="deny()">驳回</button>
        <a class="button button-icon icon ion-navicon-round" ng-click="show()"></a>
    </div>
</ion-view>