<ion-view>
    <div class="bar bar-header bar-balanced">
        <button class="button icon-left ion-chevron-left button-clear button-white" ng-click="GoBack()"></button>
        <h1 class="title">Mutiple Select</h1>
    </div>
    <ion-content class="has-header  has-footer">
        <div id="search-bar">
            <div class="item item-input-inset">
                <label class="item-input-wrapper" id="search-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="搜索" ng-focus="goToSeach()" style="height:32px;">
</label>
            </div>
        </div>
        <div class="item item-divider">
            <span ng-repeat="dept in deptNav"><a ng-click="navClick(dept.id,$index)" >{{dept.name}}</a> > </span>
        </div>
        <div ng-repeat="child in data.children" class="item item-icon-right">
            <label class="item-label" ng-click="deptClick($index)">
            <input  type="radio" name="depts" ng-if="child.checked" checked/>
            <input   type="radio" name="depts" ng-if="!child.checked"/>
            <span>{{child.deptName}}</span>
            </label>
            <i ng-show="!child.isLeaf" class="icon ion-ios-arrow-right" ng-click="showChild($index)"></i>
        </div>
        <div class="item item-divider"></div>
        <div ng-repeat="child in data.users" class="item ">
            <label class="item-label" ng-click="addItem(child)">
            <input type="checkbox"  name="users" ng-model="child.checked" />
            <span>{{child.name}}</span>
            </label>
        </div>
    </ion-content>
    <div class="bar bar-footer" ng-show="items.length!=0">
        <span class="title" style="text-align:left;font-size: 15px;">{{selectedName}}</span>
        <div class="buttons">
            <button class="button button-balanced" ng-click="closeModal()">完成</button>
        </div>
        <i class="button foot-button-full ion-ios-arrow-up" ng-click="selectedModalShow()"></i>
    </div>
</ion-view>
<!--已选模板页-->
<script id="selectedTemp.html" type="text/ng-template">
    <ion-modal-view style="top:52.5%">
        <ion-content style="bottom:59%">
            <ion-list>
                <ion-item ng-repeat="item in items" class="item-icon-right">
                    <div>
                        <span>{{item.name}}</span><i class="icon ion-close i-right" ng-click="delItem($index)"></i>
                    </div>
                </ion-item>
            </ion-list>
        </ion-content>
        <div class="bar bar-footer" style="bottom:52.5%">
            <span class="title" style="text-align:left;font-size: 15px;">{{selectedName}}</span>
            <div class="buttons" ng-click="doSomething()">
                <button class="button button-balanced" ng-click="closeModal()">完成</button>
            </div>
        </div>
    </ion-modal-view>
</script>

<!--搜索模板页-->
<script id="searchTemp.html" type="text/ng-template">
    <ion-modal-view>
        <form role="form">
            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input id="searchInput" type="search" placeholder="搜索"ng-model="searchKey" ng-change="doSearch(searchKey)">
                </label>
                <button class="button button-balanced" ng-click="closeSearchModal()">
                    取消
                </button>
            </div>
        </form>
    </ion-modal-view>
</script>