<ion-view>
    <ion-content>
        <div class="bar bar-header bar-balanced">
            <button class="button icon-left ion-chevron-left button-clear button-white" ng-click="GoBack()"></button>
            <h1 class="title">TextArea</h1>
        </div>
        <div class="list has-header">
            <div>
                <div class="item item-divider">
                    Placeholder Labels
                </div>
                <label class="item item-input">
                     <textarea placeholder="Input ..." rows="10"></textarea>
                </label>
            </div>
            <div>
                <div class="item item-divider">
                    Inline Labels
                </div>
                <label class="item item-input">               
                <span class="input-label" >UserName</span>
                <textarea placeholder="Input ..." rows="10"></textarea>
            </label>
            </div>
        </div>
    </ion-content>
</ion-view>