/*时间控件的自定义css*/
.ion-datetime-picker .calendar .day.selected, .ion-datetime-picker .calendar .day.selected:hover, .ion-datetime-picker .calendar .day.selected.activated{
    background-color: #33cd5f;
}

.ion-datetime-picker .month-year .button{
    color: #33cd5f;
}

.ion-datetime-picker .calendar .day:hover, .ion-datetime-picker .calendar .day.activated, .ion-datetime-picker .calendar .day.today:hover, .ion-datetime-picker .calendar .day.today.activated{
    background-color:transparent;
}

.ion-datetime-picker .time-buttons .button{
    color: #33cd5f;
}

/*时间段的popup的自定义css*/
.my-custom-popup .popup-body{
    padding:1px;
}

/*footbar 按钮自定义css*/
.bar-footer .foot-button{
    padding: 0 40px;
    margin-left: 10px;
}

.bar-footer .foot-button-full{
    width: inherit;
    padding: 0px;
    border-color: transparent;
    background-color: transparent;
}

.bar-footer-button{
    padding: 0px;
    height:32px;
    background: transparent;
}
.bar-footer .activated{
    border-color:transparent; 
    background-color: transparent; 
}

.item-divider a{
text-decoration: none;
}

.item-label{
    padding: 20px 100px 20px 0px;
}

.item-label span{
    padding-left: 20px;
}

.modal-backdrop-bg {
    transition: opacity 300ms ease-in-out;
    -webkit-transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
}

.active .modal-backdrop-bg {
    opacity: 0.5;
}

.i-right{
    float: right;
    padding-right: 25px;
}